[submodule "myelk"]
	path = myelk
	url = git@github.com:longfengpili/myelk.git
[submodule "homepage"]
	path = homepage
	url = git@github.com:longfengpili/homepage.git
[submodule "hadoop-hive-spark"]
	path = hadoop-hive-spark
	url = git@github.com:longfengpili/hadoop-hive-spark.git
[submodule "superset"]
	path = superset
	url = git@github.com:longfengpili/superset.git
[submodule "dify"]
	path = dify
	url = git@github.com:longfengpili/dify.git
[submodule "grocy"]
	path = grocy
	url = git@github.com:longfengpili/grocy.git
[submodule "webhook"]
	path = webhook
	url = git@github.com:longfengpili/webhook.git
[submodule "myubuntu"]
	path = myubuntu
	url = git@github.com:longfengpili/myubuntu.git
[submodule "smonitor"]
	path = smonitor
	url = git@github.com:longfengpili/smonitor.git
[submodule "playedu"]
	path = playedu
	url = git@github.com:longfengpili/playedu.git
[submodule "aipan"]
	path = aipan
	url = git@github.com:longfengpili/aipan.git
[submodule "kuboard"]
	path = kuboard
	url = git@github.com:longfengpili/kuboard.git
[submodule "myopenmetadata"]
	path = myopenmetadata
	url = git@github.com:longfengpili/myopenmetadata.git
[submodule "myollama"]
	path = myollama
	url = git@github.com:longfengpili/myollama.git
