[submodule "myelk"]
	path = myelk
	url = git@github.com:longfengpili/myelk.git
[submodule "homepage"]
	path = homepage
	url = git@github.com:longfengpili/homepage.git
[submodule "hadoop-hive-spark"]
	path = hadoop-hive-spark
	url = git@github.com:longfengpili/hadoop-hive-spark.git
[submodule "superset"]
	path = superset
	url = git@github.com:longfengpili/superset.git
[submodule "dify"]
	path = dify
	url = git@github.com:longfengpili/dify.git
